#seaborn
#streamlit
#pandas
#numpy
#matplotlib_venn
#matplotlib
#altair
#altair-catplot
#xlsxwriter
#openpyxl
#googletrans
#textblob
#scikit-learn
#graphviz
#pydot
#pydotplus
#mlxtend
#bokeh
#fpdf
#pingouin
gdown
#io
#scikit-learn>=1.5.0
#imbalanced-learn>=0.12.0

plotly
streamlit==1.48.0
pandas>=2.2,<2.3
numpy>=1.26,<2.0
matplotlib
seaborn
openpyxl
xlsxwriter
matplotlib-venn
bokeh
scikit-learn>=1.5.0,<1.7
imbalanced-learn>=0.12.0,<0.14
