seaborn
streamlit
pandas==1.2.5
numpy==1.20.3
matplotlib_venn
matplotlib
altair
altair-catplot
xlsxwriter
datapane
seaborn
openpyxl
googletrans
textblob
scikit-learn
graphviz
pydot
pydotplus
mlxtend
bokeh
fpdf
pingouin
gdown
#io
